@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
  font-family: 'Lato', sans-serif;
}

#root{
  height: 100vh;
}

.game-screen{
  display:flex;
  min-height: 100vh;
}

.game{
  flex:10;
  background: ghostwhite;
}

.menu{
  flex:3;
  background:whitesmoke;
  transition-property: opacity, left, top, height;
  transition-duration: 3s, 5s;
}

.stat-card{
  display: flex;
  background: whitesmoke;
  min-height: 2.5em;
}

.score-card{
  border: 10px solid #f5f5f5;
}

.centered {
  text-align: center;
}

.stat-card > div{
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex:8;
  box-shadow: 0 0 2px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.status-success{
  background: #4EAE4F;
}

.status-inprogess{
  background: #2095F2;
}

.status-failure{
  background: #F34134;
}

.stat-card > span{
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex:2;
}


.game-countdown-circle-timer{
  padding: 2em;
}
/*
  Imported from react-countdown-circle-timer lib
*/

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: #aaa;
}

.value {
  font-size: 40px;
}

.info {
  max-width: 360px;
  margin: 40px auto 0;
  text-align: center;
  font-size: 16px;
}

.challenge-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.challenge-actions > btn {
  font-weight: bold;
}

.btn{
  background: white;
  padding:.5em 2em;
  margin:4px;
  border-radius: 3px;
  cursor: pointer;
}

.action-true{
  background: #4EAE4F;
  border:2px solid #4EAE4F;
  color:white;
  font-size: 2em;
}

.action-true:hover{
  background: #41a042;
  color: white;
}

.action-false{
  background: #F34134;
  border:2px solid #F34134;
  color:white;
  font-size: 2em;
}

.action-false:hover{
  background: #d33932;
  color: white;
}

.challenge-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.challenge-data > h1, .challenge-data > h2{
  text-align: center;
}

.challenge-data > img{
  max-height: 15em;
}

.history-games{
  overflow: scroll;
  height:50vh;
}

.challenge-center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.challenge-data > img.actor-picture{
  padding: 10px;
  max-height: 90px;
}